<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" routerLink="/institute">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Institute
    </div>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institute/teacher">
            <i class="fas fa-user-tie"></i>
            <span>Teachers</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/institute/student">
            <i class="fas fa-user-graduate"></i>
            <span>Students</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/institute/batch">
            <i class="fa fa-tasks"></i>
            <span>Batches</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/institute/assignment">
            <i class="fas fa-edit"></i>
            <span>Assignments</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Financials
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/institute/fees">
            <i class="fas fa-file-invoice-dollar"></i>
            <span>Fees Invoice</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->