.md-form.mat-2{
    margin-top: 10px;
    margin-bottom: 25px;
  }
  // select.selectpicker{
  //   display: inline !important;
  // }
    .select-container  {
      border-width: 1px !important;
      border-style: solid;
      border-color: #ced4da;
      border-radius: 5px;
    }
    .md-form.mat-2 .select-container.active {
      border-color: #4285f4;
      box-shadow: inset 0px 0px 0px 1px #4285f4;
      padding: 1px;
    }
    .md-form.mat-2 label {
      top: 0;
      left: 8px;
      font-size: .875rem;
    }
    
    .md-form.mat-2 label.active {
      background: #fff;
      font-weight: 500;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 11px;
      top: 5px;
      left: 8px;
    }
  