.profile-view{
    padding-top: 10px 20px 10px 40px;
}

.panel-section{
    margin-left: 15px;
    margin-right: 15px;
}
.section-description, .panel-content{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.hk-button-sm--tertiary {
    font-size: 12px;
    line-height: 16px;
    height: 26px;
    transition: background-color .2s ease,border-color .2s ease,-webkit-filter .2s ease;
    transition: filter .2s ease,background-color .2s ease,border-color .2s ease;
    transition: filter .2s ease,background-color .2s ease,border-color .2s ease,-webkit-filter .2s ease;
    -webkit-font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-weight: 600;
    padding: 4px 15px;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid transparent;
}
.hk-button-sm--tertiary {
    background-clip: border-box!important;
    background-origin: border-box!important;
    color: #79589f;
    background: #fff;
}
@media (max-width: 767px)
{
    .section-description{
        padding-bottom: 20px;
    }
}
@media (min-width: 768px)
{
    .profile{
        padding-left: 68px;
    }
    .section-description{
        width: 33.33333%;
        float: left;
    }
    .panel-content{
        width:66.66667%;
        float: left;
    }
    
    .edit-first label{
        text-overflow:ellipsis;
        overflow: hidden;
    }
}
@media (min-width: 992px)
{
}
