<div id="profile" class="profile-view border-bottom-primary">
    <div class="panel-section ">
        <div class="section-description">
            <div class="section-title f3 purple" role="heading" aria-level="3">
                Profile
                <!---->
            </div>

            <div class="mt2 f5 lh-copy dark-gray">
                Your email address is your identity on Timols and is used to log in.
            </div>

            <!---->
        </div>

        <div class="panel-content">
            <!-- <div class="avatar">
                <span style="width:48px; height:48px" id="ember20" class="gravatar-icon br-100 ember-view"
                    data-original-title="" title=""><img
                        src="https://gravatar.com/avatar/16a0b1de5501e4822dcf6821f871608e?s=96&amp;d=https://dashboard.heroku.com%2Fimages%2Fstatic%2Fninja-avatar-48x48.png"
                        alt="shubhgupta4u@gmail.com">
                </span>
            </div> -->
            <div class="profile edit-first">
                <div id="ember21" class="ember-view"><label for="new-e-mail">Email Address</label>
                    <div id="ember22" class="ember-view">
                        <div class="flex items-start pb1 pl1 mw6 mb5 bb b--silver" data-ember-action=""
                            data-ember-action-57="57">
                            <div class="flex-auto flex items-center word-wrap ma--3" data-test-target="hk-inline-value">
                                <span class="lh-copy">shubhgupta4u@gmail.com</span>
                            </div>
                            <button class="hk-button-sm--tertiary ml1" data-test-target="div-button">Edit</button>
                        </div>
                    </div>
                    <!---->
                    <span id="ember24" class="confirmable-action ember-view">
                        <!---->
                        <!----></span>
                </div>
                <!---->
                <div id="ember26" class="ember-view"><label for="name">Institute Name </label>
                    <div id="ember27" class="ember-view">
                        <div class="flex items-start pb1 pl1 mw6 mb5 bb b--silver" data-ember-action=""
                            data-ember-action-51="51">
                            <div class="flex-auto flex items-center word-wrap ma--3" data-test-target="hk-inline-value">
                                <span class="lh-copy">Shubh Gupta</span>
                            </div>
                            <button class="hk-button-sm--tertiary ml1" data-test-target="div-button">Edit</button>
                        </div>
                    </div>
                </div>

                <div id="ember26" class="ember-view"><label for="name">User Name </label>
                    <div id="ember27" class="ember-view">
                        <div class="flex items-start pb1 pl1 mw6 mb5 bb b--silver" data-ember-action=""
                            data-ember-action-51="51">
                            <div class="flex-auto flex items-center word-wrap ma--3" data-test-target="hk-inline-value">
                                <span class="lh-copy">Shubh Gupta</span>
                            </div>
                            <button class="hk-button-sm--tertiary ml1" data-test-target="div-button">Edit</button>
                        </div>
                    </div>
                </div>

                <div id="ember26" class="ember-view"><label for="name">Mobile Number </label>
                    <div id="ember27" class="ember-view">
                        <div class="flex items-start pb1 pl1 mw6 mb5 bb b--silver" data-ember-action=""
                            data-ember-action-51="51">
                            <div class="flex-auto flex items-center word-wrap ma--3" data-test-target="hk-inline-value">
                                <span class="lh-copy">Shubh Gupta</span>
                            </div>
                            <button class="hk-button-sm--tertiary ml1" data-test-target="div-button">Edit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>